:root {
    --background-color: #1a1b26;
    --primary: #bb9af7;
    --secondary: #a9b1d6;
}

h1 {
    color: var(--primary);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.project-col {
    padding-left: 0px;
    padding-right: 0px;
}

.project-card {
    color: white;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.project-card-img-wrapper {
    /* width: 100%; */
    background-color: var(--secondary);
}

.project-card-img {
    width: 100%;
}

.project-card-title {
    margin: 12px 0;
    color: var(--secondary);
}

.project-card-desc {
    line-height: 1.4;
    font-weight: 400;
}

.project-card-tag-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.project-card-tag {
    display: inline;
    font-size: 14px;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0 5px 5px 0;
    font-weight: 300;
}

.project-card .btn {
    font-size: 14px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: 300;
}

.project-card .btn:hover {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: 300;
    color: var(--secondary);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .project-col {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
