* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	user-select: none;
}

body {
	background-color: #181822;
	margin: 0;
}

div#main {
	margin: 0 auto;
}

ul.flex-container {
	list-style: none;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul.project-list {
	padding: 0;
}

li.project-item-container {
	width: 350px;
	min-height: 100px;
	margin: 25px;
}

div.project-item {
	min-height: 300px;
	background-color: #2c2b38;
	border-radius: 11px;
	overflow: hidden;
	box-shadow: 0px 0px 11px 0px rgba(99,29,179,0.15);
}

div.project-item img.thumbnail {
	width: 100%;
	height: 120px;
	object-fit: cover;
	transition: transform .2s ease-in-out;
}

div.thumbnail-container {
	height: 120px;
	overflow: hidden;
}

div.project-item img.thumbnail:hover {
	transform: scale(1.1);
}

div.icon-wrapper {
	display: inline-block;
	float: right;
	padding-top: 2px;
}

svg.icon {
	fill: #e1d7f5;
	transition: transform .1s ease-in-out;
	vertical-align: middle;
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: 0 auto;
}

div.view {
	margin: 16px 0;
}

div.view div.view-link {
	display: inline-block;
	margin: 0 8px 0 0;
}

div.view a {
	font-size: 14px;
	color: #e1d7f5;
	margin-left: 6px;
	text-decoration: none;
}

div.view a:hover {
	color: #ede9f7;
}

svg.icon:hover {
	transform: scale(1.2);
	cursor: pointer;
}

div.center-container {
	display: flex;
    height: calc(100vh - 61px);
    align-items: center;
    justify-content: center;
}

div.center-block {
	display: block;
}

div.project-item div.content-wrapper {
	padding: 16px;
}

div.project-item h1.title {
	margin: 0;
	font-weight: 600;
	font-size: 24px;
	/*color: #58a6ff;*/
	color: #e1d7f5;
	display: inline-block;
}

div.project-item h1.title:hover {
	cursor: pointer;
	color: #ede9f7;
}

div.project-item h2.released {
	font-weight: 400;
	color: #988bb3;
	font-size: 14px;
}

div.project-item h2.released::before {
	content: "Released: ";
}

div.project-item p.description {
	color: white;
	line-height: 22px;
}

ul.lang-list {
	list-style: none;
	padding: 0;
	display: inline-block;
	vertical-align: bottom;
	margin-top: -6px;
	cursor: default;
}

li.lang-item {
	padding: 0;
	margin-right: 4px;
	margin-top: 6px;
	color: #988bb3;
	font-size: 10px;
	padding: 4px 7px;
	border: 1px solid #988bb3;
	display: inline-flex;
	border-radius: 50vh;
	text-transform: uppercase;
}

ul.nav-list {
	list-style: none;
	padding-left: 10px;
	margin: 0;
}

li.nav-item-container {
	display: inline-block;
	padding: 20px 10px;
}

div.nav-item a {
	color: #e1d7f5;
	text-decoration: none;
}

div.nav-item a:hover {
	color: #ede9f7;
	cursor: pointer;
}

.main-title * {
	font-family: 'Libre Baskerville', serif;
	color: #e1d7f5;
}

.fade-in {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



ul.social-icon-list {
	list-style: none;
}